@import "animations";

// Toast styles
.notice-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 400px;
    overflow-x: hidden;

    .notice,
    .alert {
        opacity: 1;
        animation: toast-in 330ms ease-out, toast-out 0.5s ease-in 3s;
    }
}

// Testing

.testing {
    animation: test-in 330ms ease-out, test-out 0.5s ease-in 3s;
}

@keyframes test-in {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes test-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}